body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(93, 92, 92);
}

p{
    padding: 0p;
}


.card{
    display: inline-block;
    margin: 1em;
    background-color: whitesmoke;
    border: white 5px ridge;

    width: 400px;
}


.title{
    margin-top: -19px;
}

.lblTitle{
    background-color: rgb(80, 193, 93);
    color: white;
    border-bottom: rgb(233, 233, 233) 3px ridge;
    height: 30px;
}

.txtTitle{

    padding-left: 5px;
    padding-right: 5px;
    text-align: justify;
    border-bottom: rgb(233, 233, 233) 3px ridge;
    height: 60px;
}

.img{
    border-bottom: rgb(233, 233, 233) 3px ridge;
}

.imgs{

    width: 200px;
}

.ids{
    height: auto;
}

    .lblIds{
        display:inline-flex;
        background-color: rgb(223, 212, 199);
        border-bottom: rgb(233, 233, 233) 3px ridge;
        height: 30%;
    }

    .lblAlbumId{
        background-color:rgb(80, 193, 93);
        color: white;
        width: 200px;
        border-right: rgb(233, 233, 233) 3px ridge;
    }

    .lblId{
        background-color: rgb(80, 193, 93);
        color: white;
        width: 200px;
    }

    .txtIds{
        display:inline-flex;
        height: 48%;
        border-bottom: #000;
    }

    .txtAlbumId{
        width: 175px;
        border-right: rgb(233, 233, 233) 3px ridge;
    }

    .txtId{
        width: 175px;
    }





        .modalDialog {
            position: fixed;
            font-family: Arial, Helvetica, sans-serif;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0,0,0,0.8);
            z-index: 99999;
            opacity:0;
            -webkit-transition: opacity 400ms ease-in;
            -moz-transition: opacity 400ms ease-in;
            transition: opacity 400ms ease-in;
            pointer-events: none;
        }

        .modalDialog > div {
            width: 400px;
            position: relative;
            margin: 10% auto;
            padding: 5px 20px 13px 20px;
            border-radius: 10px;
            background: #fff;
            background: -moz-linear-gradient(#fff, #999);
            background: -webkit-linear-gradient(#fff, #999);
            background: -o-linear-gradient(#fff, #999);
          -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        }
        .close {
            background: #606061;
            color: #FFFFFF;
            line-height: 25px;
            position: absolute;
            right: -12px;
            text-align: center;
            top: -10px;
            width: 24px;
            text-decoration: none;
            font-weight: bold;
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            border-radius: 12px;
            -moz-box-shadow: 1px 1px 3px #000;
            -webkit-box-shadow: 1px 1px 3px #000;
            box-shadow: 1px 1px 3px #000;
        }
        .close:hover { background: red; }

        /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    main {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    main {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    main {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    main {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    main {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }
  
      